In [5]:
n=int(input())

 5

In [6]:
def fun(n):
    s=0
    i=o
    while i<n:
        s=s+i
        i=i*2
    return s

In [7]:
(lambda x :x**2)(4)

16

In [7]:
def do_mul(n):
    return n**2
do_mul(4)

16

In [8]:
sq=(lambda x,y:(x**2,y**2))(4,5)

In [9]:
sq

(16, 25)

In [17]:
def sq(n):
    return n**2
sq(4)

16

In [10]:
numbers=[3,4,5,6,7]

In [14]:
list(map(lambda x :x**2,numbers)) # useing in single line

[9, 16, 25, 36, 49]

In [15]:
a=['1','2','3','5','7']    # Converting string into int and printing the variables.
a1=map(lambda a : int(a),a)
print(list(a1))

[1, 2, 3, 5, 7]

# Give a number output Yes if the number is greater than 5 or No if less than 5

In [17]:
#using functions

def yes_no(n):
    if n>5:
        return "Yes"
    else:
        return "No"
yes_no(5)

'No'

In [35]:
# writing in single using lambda
sq=(lambda x:"Yes" if x>5 else "No")(7)

In [20]:
sq

(16, 25)

In [21]:
students=[

{'name':'a','class':'lkg','marks':10},
{'name' :'c','class':'ukg','marks':30},
{'name' :'l','class':'5thclass','marks':20},
{'name' :'m','class':'abc','marks':25}    
]

In [22]:
students

[{'name': 'a', 'class': 'lkg', 'marks': 10},
 {'name': 'c', 'class': 'ukg', 'marks': 30},
 {'name': 'l', 'class': '5thclass', 'marks': 20},
 {'name': 'm', 'class': 'abc', 'marks': 25}]

In [23]:
get=lambda x:x['marks']

In [24]:
get(students[0])

10

In [25]:
sorted(students, key=lambda x:x['marks'])

[{'name': 'a', 'class': 'lkg', 'marks': 10},
 {'name': 'l', 'class': '5thclass', 'marks': 20},
 {'name': 'm', 'class': 'abc', 'marks': 25},
 {'name': 'c', 'class': 'ukg', 'marks': 30}]

In [26]:
get(students[1])

30

# Higer order function

In [27]:
def first(n):
    def second(x):
        return x**n
    return second

In [28]:
second=first(5)
second(2)

32

In [29]:
def foo():
    print("hello")

In [30]:
foo()

hello

In [31]:
def poo():
    print('-'*5)
    print("hello")
    print('-'*5)

poo()

-----
hello
-----

In [33]:
?map

Init signature: map(self, /, *args, **kwargs)
Docstring:
map(func, *iterables) --> map object

Make an iterator that computes the function using arguments from
each of the iterables.  Stops when the shortest iterable is exhausted.
Type:           type
Subclasses:

# List Comphersion

In [34]:
a=[1,2,3,4,5]

In [35]:
final=[]      # Normal Function
for i in a:
    final.append(i*i)

In [36]:
final

[1, 4, 9, 16, 25]

In [37]:
[i*i for i in a] #List comphersion

[1, 4, 9, 16, 25]

In [38]:
b= list(map(lambda x:x*x,a))

In [39]:
b

[1, 4, 9, 16, 25]

# Convert the height  into sizes of S,M,L

In [40]:
def  convert_size(height):
    if height<150:
        return 'S'
    elif height>=150 and height<180:
        return 'M'
    else:
        return 'L'

In [41]:
convert_size(120)

'S'

In [42]:
list(map(lambda :conver_size,height))

NameError: name 'height' is not defined

In [43]:
def my_shirt_size(size):
    if size<40:
        return 'M'
    elif size>=40 and size<=60:
        return 'L'
    else:
        return 'XL'



print(my_shirt_size)

<function my_shirt_size at 0x000001F8AB5C0360>

# Find the if elemnts in each index are same between the 2 list

In [46]:
a=[1,0,1,0,0,1,1,3,4,5]
b=[0,0,1,1,1,1,2,3,0,1]

In [47]:
list(map(lambda x,y:x==y,a,b))

[False, True, True, False, False, True, False, True, False, False]

In [48]:
c=[1,0,1,0,0,1,1,3,4,5]
e=[0,0,1,1,1,1,2,3,0,1]   # just using the same variables

In [49]:
list(map(lambda c,e:c==e, c,e))

[False, True, True, False, False, True, False, True, False, False]

# Return  a list of all even number elements

In [50]:
a=list(range(1,11))

In [51]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [52]:
[ i   for i in a if i%2==0]

[2, 4, 6, 8, 10]

In [53]:
list(map(lambda x: x%2==0,a))

[False, True, False, True, False, True, False, True, False, True]

In [54]:
list(filter(lambda x: x%2==0,a))

[2, 4, 6, 8, 10]

In [55]:
# using range function

[ i for i in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Zip Function

In [56]:
a=[1,2,3]
b=['a','b','c','d','e','f']

In [57]:
a

[1, 2, 3]

In [ ]:
b

In [58]:
list(zip(a,b))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [ ]:
first=['mahesh','mahi']
last=['kannemadugu','xdfgr']
for f,l in zip(first,last):
    print(f"firstname{f},{l}")

In [ ]:
list(zip(first,last))

In [ ]:
list(reduce(first,last))

In [ ]:
from functools import reduce

In [ ]:
reduce

In [ ]:
a=[1,2,3,4,5]
reduce(lambda x,y:x+y,a)

In [ ]:
reduce

# *args and  **kwargs

In [ ]:
def addition(a,b,*args):
    op=a+b
    return op
addition(10,20)

In [2]:
def addition(a,b,*args):
    op=a+b
    if args:
        print('args',args)
         op+=sum(args) 
         print( op)    
    return op
addition(10,20)

IndentationError: unexpected indent (628849137.py, line 5)

In [3]:
addition(10,20,30,40,50,2,5,6,7,9,10,11)

NameError: name 'addition' is not defined

# Assignment Question

In [4]:
column_names = ['name', 'salary', 'job']
db_rows = [('Alice', 180000, 'data scientist'),
           ('Bob', 99000, 'data engineer'),
           ('Frank', 87000, 'data analyst')]

db = [dict(zip(column_names,row)) for row in db_rows]
print(db)

[{'name': 'Alice', 'salary': 180000, 'job': 'data scientist'}, {'name': 'Bob', 'salary': 99000, 'job': 'data engineer'}, {'name': 'Frank', 'salary': 87000, 'job': 'data analyst'}]

In [5]:
list1 = [[1,2,3],[4,5,6],[7,8,9]]
list2 = [[9,8,7],[6,5,4],[3,2,1]]
ls11,ls12,ls13=list1
ls21,ls22,ls23=list2
print(list(zip(ls11,ls12,ls13,ls21,ls22,ls23)))

[(1, 4, 7, 9, 6, 3), (2, 5, 8, 8, 5, 2), (3, 6, 9, 7, 4, 1)]

In [15]:
ids = ["SAM@gmail.com", "Ram@gmail.com", "sam@gmail.com", "samJohnson@iit.com", "SAM@harvard.com"]
name = "sam"
result = list(filter(lambda x : (name.lower() and name.upper()) in x , ids))
print(result)

['SAM@gmail.com', 'SAM@harvard.com']

In [6]:
def solve(students):
   min_mark = min(x[1] for x in students)
   students = [x for x in students if x[1] > min_mark]
   min2_mark = min(x[1] for x in students)
   students = sorted([x[0] for x in students if x[1] == min2_mark])
   for x in students:
      print(x)

students = [['Amal',37],['Bimal',37],['Tarun',36],['Akash',41],['Himadri',39]]
solve(students)

Amal
Bimal

In [7]:
def factorial(n):
    if n==0 or n==1:
        return 1
    else:
        return n* factorial(n-1)
n=[1,2,3,4,5]
for i in n:
    print(f'Factorial of {i} is {factorial(i)}')

Factorial of 1 is 1
Factorial of 2 is 2
Factorial of 3 is 6
Factorial of 4 is 24
Factorial of 5 is 120